body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 45px;
    font-size: 18px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.action-container {
    display: flex;
    gap: 25px;
}

/* use (uncomment) if using clickable board */
/* from here */
.rooms-and-hallways{
    display: flex;
    height: 450px;
    width: 450px;
}

.rooms-and-hallways div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#col2, #col4 {
    gap: 90px
}

button.rooms, button.hallways {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

button.rooms img, button.hallways img {
    display: block;
    width: 90px;
    height: 90px;
}
/* to here */

#tutorialButton, #turnLabel {
    align-self: flex-end;
    margin-right: 175px;
}

#chat {
    width: 450px;
    height: 20px;
    border: 1px solid #000;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
    margin-right: 175px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%
}
